<div class="container ">
	<div class="row" style="padding-top: 2rem;">
		<div class="col-md-6 " style="overflow-x: auto;">
			<span class="display-4">
				<mat-icon class="h1">add_chart</mat-icon>&nbsp;&nbsp;Add Task
			</span>
			<form #addTaskForm='ngForm' (submit)='addTask();addTaskForm.resetForm()'>
				<div class="form-group">
					<mat-form-field>
						<mat-label> Task Name </mat-label>
						<span matSuffix>
							<mat-icon>receipt_long</mat-icon>
						</span>
						<input matInput name="taskName" [(ngModel)]='task.taskName' #name='ngModel' required>
					</mat-form-field>
				</div>
				<div class="form-group">
					<mat-form-field>
						<mat-label>Select Type</mat-label>
						<span matSuffix>
							<mat-icon>category</mat-icon>
						</span>
						<mat-select disableRipple name="type" [(ngModel)]='task.type' #taskType='ngModel'>
							<mat-option value="Personal">
								<em class="fa fa-user"></em> Personal
							</mat-option>
							<mat-option value="Work">
								<em class="fa fa-briefcase"></em> Work
							</mat-option>
							<mat-option value="Shopping">
								<em class="fa fa-shopping-cart"></em> Shopping
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="form-group">
					<mat-form-field>
						<mat-label>Due Date</mat-label>
						<input matInput [matDatepicker]="picker" [min]='minDate' name="dueDate"
							[(ngModel)]='task.dueDate'>
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker touchUi #picker></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="form-group">
					<button mat-flat-button color="primary" type="submit" [disabled]='!addTaskForm.valid'>
						<mat-icon>library_add</mat-icon> Add Task
					</button>
					<span *ngIf='isAdding'>
						&nbsp;&nbsp;<span class="spinner spinner-grow spinner-grow-sm"></span>
						Adding...
					</span>
				</div>
			</form>
		</div>
		<div class="col-md-6 ">
			<span class="display-4"><mat-icon class="h1">list</mat-icon> &nbsp;Tasks</span>
			<span *ngIf='isLoading'><br><span class="spinner-border"></span> loading...</span>
			<table class="table" style="overflow-x: auto;">
				<thead>
					<th>Name</th>
					<th>Type</th>
					<th>Due Date</th>
					<th colspan="2">Actions</th>
				</thead>
				<tr *ngFor='let task of tasks'>
					<td>
						{{task.taskName}}
					</td>
					<td>
						{{task.type}}
					</td>
					<td>
						{{task.dueDate | date}}
					</td>
					<td (click)='delete(task.taskId)' style="cursor: pointer;">
						<mat-icon>delete</mat-icon>
					</td>
					<td (click)='openDialog(task)' style="cursor: pointer;">
						<mat-icon>edit</mat-icon>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>