<style>
    mat-form-field {
        width: 420px;
    }
    button{
        outline: none;
    }
</style>
<h1 mat-dialog-title>
    <button class="close text-danger" (click)='onNoClick()'>&times;</button>
    <mat-icon>edit</mat-icon> Update Task
</h1>
<div mat-dialog-content>
    <form #updateForm='ngForm' (submit)='update(updateForm.value)'>
        <div class="form-group">
            <mat-form-field>
                <input matInput name="taskName" [(ngModel)]='data.taskName' #name='ngModel'>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Select Type</mat-label>
                <span matSuffix>
                    <mat-icon>category</mat-icon>
                </span>
                <mat-select disableRipple name="type" [(ngModel)]='data.type' #taskType='ngModel'>
                    <mat-option value="Personal">
                        <em class="fa fa-user"></em> Personal
                    </mat-option>
                    <mat-option value="Work">
                        <em class="fa fa-briefcase"></em> Work
                    </mat-option>
                    <mat-option value="Shopping">
                        <em class="fa fa-shopping-cart"></em> Shopping
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Due Date</mat-label>
                <input matInput [matDatepicker]="picker" [min]='minDate' name="dueDate" [(ngModel)]='data.dueDate'>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <button mat-flat-button type="submit" color="primary">
            <mat-icon>update</mat-icon> Update
        </button>
    </form>
</div>